/vendor/
/node_modules/
/.env
/storage/temp/*
!/storage/temp/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
# We are ignoring the database so real data is not pushed
/database/database.sqlite
/storage/uploads/*
!/storage/uploads/.gitkeep
